


  #textNav{



}

  #filednav{


  }



  #filter {
      width: 70%;
      margin-top: 10%;
      margin-left: 16%;

    }


    .nav-var {
        background-color: black;
    margin-left: 5%;
    padding: 3%;

    }

  #cartas{
    margin-left: 5%;
    margin-right: 10%;

  }
  .indexContainer{

    margin-left: 5%;

  }

  .navbarInput{

  }
  .navLavel{

      text-transform: uppercase;
    color: #fff;
  }
  .navTitle{
    text-transform: uppercase;
    color: #fff;
  }
